:root {
    --grid-cols: 1;
    --grid-rows: 1; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(235, 14, 14), rgb(242, 246, 9));
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
}
#container {
    height: 700px;
    width: 700px;
    display: grid;
    border: 2px solid black;
    
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gItem {
    border: 1px solid black;
    text-align: center;
}

#sliderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 50px;
    gap: 10px
}

#sizeRange {
    -webkit-appearance: none;
    border: 2px solid black;
    border-radius: 5px;
    height: 15px;
    flex: 1;
    background: transparent;
}

#clearBtn {
    padding: 5px 10px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
}